PORT=4000
PGHOST=127.0.0.1
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=supersecretpassword
PGPORT=30
PGSSLMODE=disable
NODE_ENV=development
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=